{% load rest_framework %}

<html>

<body>

    <h1>Add transaction</h1>
    <h2>Form status: {{status}}</h2>
    <form action="{% url 'transaction' %}" method="POST">
        {% csrf_token %}
        {% render_form transaction_serializer %}
        <input type="submit" value="Add">
    </form>

</body>

</html>